<div id="quem_somos" class="content-section-b">

    <div class="container">

        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Quem somos</h2>
                <p align="justify" class="lead">A AK Seguros está a 14 anos no mercado visando um atendimento personalizado ao nosso cliente, procurando sempre a melhor solução para as suas necessidades.
 Assessorando e pesquisando entre as melhores Seguradoras, esclarecendo todas as dúvidas e buscando as melhores opções, tanto para pessoa física como jurídica, desde a escolha do plano que melhor atende as suas necessidades até a assessoria em caso de dúvidas ou solução de problemas.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <%= image_tag("empresarial.jpg", :class => "img-responsive") %>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

