<div id="quem_somos" class="content-section-b">

    <div class="container">

        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Outros produtos</h2>
                <p align="justify" class="lead">Trabalhamos com uma ampla gama de seguros disponíveis no mercado para atender nossos clientes em todos os setores de suas vidas.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img src="http://placehold.it/400x300" />
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

<div id="quem_somos" class="content-section-a">

    <div class="container">

        <div class="row">
            
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Para você</h2>
                <p align="justify" class="lead">
                <ul>
                    <li>Seguro de vida</li>
                    <li>Seguro viagem</li>
                    <li>Seguro acidentes pessoais</li>
                    <li>Seguro eventos</li>
                </ul>
                </p>
            </div>
            
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img src="http://placehold.it/400x300" />
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

<div id="quem_somos" class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Para seus bens</h2>
                <p align="justify" class="lead">
                <ul>
                    <li>Seguro automóveis</li>
                    <li>Seguro motos</li>
                    <li>Seguro residencial</li>
                    <li>Seguro apartamentos</li>
                    <li>Seguro náutico</li>
                    <li>Seguro equipamentos portáteis</li>
                    <li>Seguro Aluguel</li>
                    <li>Seguro aeronaves</li>
                </ul>
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img src="http://placehold.it/400x300" />
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

<div id="quem_somos" class="content-section-a">

    <div class="container">

        <div class="row">
            
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Para seus negócios</h2>
                <p align="justify" class="lead">
                <ul>
                    <li>Seguro imobiliária</li>
                    <li>Seguro condomínio</li>
                    <li>Seguro empresarial</li>
                    <li>Seguro transporte</li>
                    <li>Seguro máquinas e equipamentos</li>
                    <li>Seguro garantia estendida</li>
                    <li>Seguro garantia</li>
                    <li>Seguro agronegócios</li>
                    <li>Seguro riscos de engenharia</li>
                    <li>Seguro de vida para colaboradores</li>
                </ul>
                </p>
            </div>
            
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img src="http://placehold.it/400x300" />
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

<div id="quem_somos" class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <p align="justify" class="lead">
                    Trabalhamos também com consórcios de imóveis e veículos.
                </p>

                <p align="justify" class="lead">
                    Entre em contato conosco através de nosso formulário e nós esclarecemos todas as suas dúvidas e cotamos as melhores condições para que você esteja sempre protegido.
                </p>
            </div>
            
        </div>

    </div>
    <!-- /.container -->

</div>
